net_use_wireless=false                      # Priority 1  -  the least important
net_allow_gsm=false                         # Priority 2
net_use_cable=true                          # Priority 3  -  same as net_use_wireless=false && net_allow_gsm=false
# net_interface='wlan0'                     # Priority 4  -  the most important  -  optional
net_wifi_ssid='test'                        # Ignored if wireless is off
net_wifi_passphrase='password'              # Ignored if wireless is off
net_ip_address='192.168.1.250/24'           # Ignored if DHCP works
net_gateway='192.168.1.1'                   # Ignored if DHCP works
net_nameservers=('1.1.1.1' '8.8.8.8')       # Ignored if DHCP works

disk_use_lvm=true                           # Always true if using LUKS
disk_lvm_root=('/dev/vdc')                  # pvcreate  Ignored if not using LVM
disk_lvm_home=('/dev/vda' '/dev/vdb')       # pvcreate  Ignored if not using LVM
disk_lvm_root_group='root'                  # vgcreate  Ignored if not using LVM
disk_lvm_home_group='home'                  # vgcreate  Ignored if not using LVM
disk_lvm_root_volume='proot'                # lvcreate  Ignored if not using LVM
disk_lvm_home_volume='phome'                # lvcreate  Ignored if not using LVM
disk_use_luks=false
disk_luks_pass='password'                   # Ignored if not using LUKS
disk_luks_root_name='cryptroot'             # Ignored if not using LUKS
disk_separate_home=true                     # Always true if using LVM                  
disk_root='/dev/vda'                        # Ignored if using LVM
disk_home='/dev/vdb'                        # Ignored if using LVM
disk_esp_size='512M'
# disk_root_size='4.5G'
# disk_home_size='10G'
disk_root_size='100FREE'                    # Use 100% of free space
disk_home_size='100FREE'                    # Use 100% of free space
disk_root_fs='ext4'
disk_home_fs='xfs'

# os_kernel='default'
os_kernel='zen'                             # zen, vfio, lts
os_timezone='Europe/Warsaw'
os_locale='en_US.UTF-8'                     # If not sure, check out /etc/locale.gen
os_hostname='hkk-virt'
os_root_pass='password'                             
os_user_name='user'                         # Optional
os_user_pass='password'                     # Required if os_user_name is defined
os_user_groups='users,sudo,wheel'           # Optional
os_shell='zsh'                              # bash, zsh, fish  -  optional                     
# os_cpu='intel'                            # intel-ucode.img
# os_cpu='amd'                              # amd-ucode.img
os_cpu='vm'                                 # Virtual Machine install
os_install_xorg=true                        # Always true if os_desktop is defined
os_desktop='plasma'                         # plasma, gnome, xfce  -  optional              